{% extends 'base.html' %}

{% block body %}
  <!-- bar chart canvas element -->

 
<style>
 .panel-body.panel-custom-body {
    background:#DCDCDC; 
    color: black;
    }
 .panel-heading.panel-custom {
    background: #00e6ac;
    color: black;
    
}

  canvas {
    
    width: 300px;
    height: auto;
		}
</style>

<div class="row">
        <div class="col-xs-6 col-md-4  .col-md-offset-1">
		<div class="panel text-center panel-default">
  			<div class="panel-heading panel-custom">Temperatura (c)</div>
  			<div style="overflow:scroll"; class="panel-body text-center panel-custom-body">
   				<h3>  Temperatura </h3>
				<canvas id="temperatura" width="300" height="200"></canvas>
  			</div>
		</div>	
	</div>
        <div class="col-xs-6 col-md-4">
		<div class="panel text-center panel-default">
  		<div class="panel-heading panel-custom">Oxigeno (ppm)</div>
  		<div  style="overflow:scroll"; class="panel-body text-center panel-custom-body">
    			<h3> Oxigeno disuelto </h3>
			<canvas id="oxigeno" width="300" height="200"></canvas>
  		</div>
	</div>
</div>   





<!-- aqui esta el comienzo del script que controla las graficas-->
<script>

   // bar chart data
    var tempData = {
   labels : [{% for item in labels %}
		"{{item2}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in tvalues %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }
    // bar chart data
    var oxData = {
   labels : [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in oxvalues %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }
   // get bar chart canvas
   var mychart = document.getElementById("temperatura").getContext("2d");
 
   steps = 10
   max = 35
   // draw bar chart
   new Chart(mychart).Bar(tempData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

var mychart = document.getElementById("oxigeno").getContext("2d");
 
   steps = 10
   max = 10
   // draw bar chart
   new Chart(mychart).Bar(oxData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });
 
</script>
<!-- aqui esta el final del script que controla las graficas-->
{% endblock %}
