{% extends 'base.html' %}

{% block body %}
<!------    Aqui se cambian los colores del panel donde se despliegan los valores    ------->
<style>
 .panel-body.panel-custom-body { 
    border-color: #696969;
    background:#80ffdf; 
    color: black;
    }
 .panel-heading.panel-custom {
    border-color: #696969;
    background: #00BBBB;
    color: black;
    
}

</style>
<div class="panel panel-default"> <!-- Comienza el panel -->
<!---   Titulo del panel donde se despliegan los valores 'Tanque 1'  --->
 	<div class="panel-heading text-center">Tanque 1</div>
	<div class="row"> <!-- Comienza la linea unica del panel -->
        	<div class="col-xs-6 col-md-4  .col-md-offset-1"> <!-- las medidas de la primer columna del panel (Primera casilla) -->
			<div id="temperatura" class="panel panel-default">
<!-- Titulo de la celda que despliega el valor 1  en este caso Temperatura en C--->
  				<div class="panel-heading text-center panel-custom">Temperatura (c)</div> <!--  cabeza de la casilla centrado -->
  				<div class="panel-body text-center panel-custom-body"> <!-- declaracion del texto en el centro de la casilla -->
<!--- Variable que envia el servidor con el valor de la temperatura, cuidado, debe coincidir con el nombre de la variable en el rendertemplate del servidor --->
    					<h1>{{tvalues}}</h1>
  				</div>
<!-- Nota o alerta de que lqs mediciones estan bien, atencion, solo es demostracion, no es dinamico. -->
				<div class="panel-footer text-center">Valor dentro de los parametros</div> <!--  pie de la casilla centrado -->
			</div>
		</div>
        	<div class="col-xs-6 col-md-4"> <!-- las medidas de la segunda columna del panel (Segunda casilla) -->
			<div class="panel panel-default">
<!-- Titulo de la celda que despliega el valor 2 en este caso Oxigeno en ppm--->
  				<div class="panel-heading text-center panel-custom">Oxigeno (ppm)</div>
  				<div class="panel-body text-center panel-custom-body">
<!--- Variable que envia el servidor con el valor de la temperatura, cuidado, debe coincidir con el nombre de la variable en el rendertemplate del servidor --->
    					<h1>{{oxvalues}}</h1>
  				</div>
<!-- Nota o alerta de que lqs mediciones estan bien, atencion, solo es demostracion, no es dinamico. -->
				<div class="panel-footer text-center">Valor dentro de los parametros</div>
			</div>
		</div>  
	</div>
</div>
{% endblock %}
